relative IRI resolution in w3c tests

Some w3c tests are supposed to be the retrieval IRI for that file, e.g. `turtle-subm-01.ttl`

```
@prefix : <#> .
[] :x :y .
```

Should be parsed into (`turtle-subm-01.nt`):

```
_:genid1 <http://www.w3.org/2013/TurtleTests/turtle-subm-01.ttl#x> <http://www.w3.org/2013/TurtleTests/turtle-subm-01.ttl#y> .
```

This is explicit at http://www.w3.org/2013/TurtleTests/ :

> Relative IRI Resolution: The home of the test suite is the URL of this page. Per RFC 3986 section 5.1.3, the base IRI for parsing each file is the retrieval IRI for that file. For example, the tests turtle-subm-01 and turtle-subm-27 require relative IRI resolution against a base of http://www.w3.org/2013/TurtleTests/turtle-subm-01.ttl and http://www.w3.org/2013/TurtleTests/turtle-subm-27.ttl respectively.

How should the w3c rdf4h tests deal with this? 


All W3C tests in `rdf-tests` now pass, so I assume this issue is now fixed.